<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="fr" />
  <meta name="robots" content="index, follow" />
  <meta name="googlebot" content="index, nosnippet, noarchive" />
  <meta name="Publisher" content="as geaune tennis de table" />
  <meta name="google" content="notranslate" />
  
<meta name="Reply-to" content="ecuzacq22@gmail.com" />
  
  <title>AS Geaune TT</title>
    
  {% javascripts '@ManuAsgttBundle/Resources/public/js/*.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
    
  {% javascripts '@ManuAsgttBundle/Resources/public/bootstrap/js/*.js' %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
  
  {% javascripts '@ManuAsgttBundle/Resources/public/js/seriel/*.js'  %}
    <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
 
   
  {% stylesheets '@ManuAsgttBundle/Resources/public/bootstrap/css/*.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
 
  {% stylesheets '@ManuAsgttBundle/Resources/public/css/*.css' filter='cssrewrite' %}
  	<link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %} 
  	
  	<script language="javascript">
		//var panierWidget = {};
		$(document).ready(function() {
    		initSerHC();
    		sm();
    		$('.main_menu').animationHeader();
    		//panier();
    
   		 //$('body').bind('click', unActiveCurrentWidget);

   		// $('.admin_login').ser_adminLogin();


});
</script>
  
</head>
<body class="accueil">

 <div class="container-fluid page">
 	
 	<!-- cette partie sera visible sur grand ecran et remplacée par une navbar bootstrap -->
 	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header row">
 		
 		<div class="logo col-lg-4 col-md-4 col-sm-4">
 			<a href="#"><img alt="logo" src="/bundles/manuasgtt/images/ASGTT-Logo_page_web.png"/></a>
 		</div>
 		<div class="main_menu col-lg-8 col-md-8  col-sm-8 row">
 			<ul>
 				<li class="col-lg-2 col-md-2 col-sm-2"><a href="#" ><img alt="club" src="/bundles/manuasgtt/images/ASGTT - Rond Le Club.png" /></a>
 					<ul class="submenu">
 						<li><a href="#maire">Le mot du maire</a></li>
 						<li><a href="#entrainements">Les entrainements</a></li>
 						<li><a href="#bureau">Le bureau</a></li>
 					</ul>
 				</li>
 				<li class="col-lg-2 col-md-2 col-sm-2"><a href="#"><img alt="joueurs" src="/bundles/manuasgtt/images/ASGTT - Rond Joueurs.png" /></a>
 					<ul class="submenu">
 						<li><a href="#tradi">Tradi</a></li>
 						<li><a href="#promo">Promo</a>
 					</ul>
 				</li>
 				<li class="col-lg-2 col-md-2 col-sm-2 "><a href="#photos"><img alt="photos" src="/bundles/manuasgtt/images/ASGTT - Rond Photos.png" /></a>
 				<li class="col-lg-2 col-md-2 col-sm-2"><a href="#contact"><img alt="contact" src="/bundles/manuasgtt/images/ASGTT - Rond Contact.png" /></a>
 				<li class="col-lg-2 col-md-2 col-sm-2"><a href="#compteur"><img alt="compteur" src="/bundles/manuasgtt/images/ASGTT - Rond Compteur points.png" /></a>
 				<li class="col-lg-2 col-md-2 col-sm-2"><a href="#membres"><img alt="compteur" src="/bundles/manuasgtt/images/ASGTT - Rond Espace membres.png" /></a>
 			</ul>
 		</div>
 	</div>
 	
	<!-- A AFFICHER SEULEMENT SUR MOBILE -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">
	      	<img alt="Brand" src="/bundles/manuasgtt/images/littleLogo.png">
	      </a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Le Club <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#maire">Le mot du Maire</a></li>
	            <li><a href="#entrainements">Les Entrainements</a></li>
	            <li><a href="#bureau">Les Bureau</a></li>
	          </ul>
	        </li>
	         <li><a href="#photos">Photos</a></li>
	         <li><a href="#contact">Contact</a></li>
	         <li><a href="#compteurs">Compteur de points</a></li>
	         <li><a href="#membres">Espace Membre</a></li>
	        
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Les joueurs <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#tradi">Tradi</a></li>
	            <li><a href="#promo">Promo</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
 	
 	
 	<div class="content col-md-12 col-sm-12 col-xs-12 row">
	 	<div class="page_accueil"> 
	 		<div class="bienvenue ">
				&nbsp; 		
	 		</div>
	 		<!-- CARIOUSSEL -->
	        <div class=" slider nozoom row">
	        
	            <img src="/bundles/manuasgtt/images/ASGTT-Logo_page_web.png" width="100%" style="width: 100%"/>
	             <img src="/bundles/manuasgtt/images/test.jpg" width="100%" style="width: 100%"/>
	        </div>
	        
	        <div class="liste_articles row" >
	 		{% if articles is defined %}
	 			{% for article in articles %}
	 				
	 				<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 articles ">
	 					<span class="titre_article col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ article.titre }}</span> <br/>
	 					<span class="content_article col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;&nbsp;&nbsp;&nbsp;{{ article.contenu }}</span>
	 				</div>
	 			{% endfor %}
	 		{% endif %}
	 		</div>
	 	</div>
	 <div class="page_maire row">
		page_maire
     </div>
 	 
 	 <div class="page_entrainements row">
		page_entrainements
     </div>
     
     <div class="page_bureau row">
		page_bureau
     </div>
     
     <div class="page_tradi row">
		page_tradi
     </div>
     
     <div class="page_promo row">
		page_promo
     </div>
     
     <div class="page_photos row">
		page_photos
     </div>
     
     <div class="page_contact row">
		page_contact
     </div>
     
     <div class="page_compteur row">
		page_compteur
     </div>
     
     <div class="page_membres row">
		page_membres
     </div>
 	</div>
 	<!-- PARTIE DES PAGES GERER EN CSS -->
 	
 	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
 		&nbsp;
 	</div>
 </div>

  </body>
</html>